header {
  background-color: #06151a;
  padding: 32px;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
}

.events-container{
  width: 1000px;
  max-width: 90%;
  margin: 0 auto 64px;
}

.events-cards{
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
}
