.drop-down-list {
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #4a4949;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 8px 16px;
  color: #FFFFFF;
}

.drop-down-list option {
  color: #FFFFFF;
  background-color: #4a4949;
}
